<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EGBIN LEAVE APP</title>
    <link rel="stylesheet" href="{% static 'leaveapp/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'leaveapp/css/icofont/icofont/icofont.min.css' %}" />
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav> -->

   <nav class="navbar navbar-expand-lg navbar-light navbar-light ">
        <div class="container">
            <span>
                <a class="navbar-brand" href="{% url 'app-home' %}">
                    <!-- <img src="{% static 'leaveapp/images/Egbin_logo1a.png' %}" style="height: 40px; " alt="Egbin Power" /> -->
                </a>
            </span>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="" role="button">
                    <i class="fa fa-bars fa-2x" aria-hidden="true" style="color:#dc4535"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app-home' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'requestleave' %}">RequestLeave</a>
                    </li> 

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'history' %}">History</a>
                    </li>  
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Leave
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'all_leave' %}">All Leaves</a>
                          <a class="dropdown-item" href="{% url 'leave_list_by_category' 'pending' %}">Pending Leaves</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'leave_list_by_category' 'rejected' %}">Rejected Leaves</a>
                        </div>
                      </li>               
                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="" class="nav-link">{{ request.user.username }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout </a>
                    </li>
                    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <button class="btn btn-danger">
                                LOGIN
                            </button>
                        </a>
                    </li>
            
                    {% endif %}
                </ul>

            </div>
        </div>
        <!-- end of navbar container -->
    </nav> 

    {% if messages %}
    <div class="container my-5">
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <h5>{{ message }}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% endif %}
    
    {% block content %}

    {% endblock %}



    <script src="{% static 'leaveapp/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'leaveapp/js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $(".actionbtn").click(function (event) {
                event.preventDefault()
                var leave_id = $(this).attr('id');
                var decision = $(this).attr('value');
                var stat = $('#' + leave_id).parents('tr').children("td:eq(3)");
                console.log(stat)
               
                $.ajax({
                    url: '{% url "approval" %}',
                    type: 'POST',
                    data: {
                        'leave_id': leave_id,
                        'decision': decision, 
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function (response) {
                        $('#' + leave_id).parents('tr').children("td:eq(3)").html(response['decision']);
                        
                        $('#' + leave_id).parents('tr').append("<td></td>");
                        $('#' + leave_id).parents('td').remove();

                        console.log(response['staff'])
                    },
                    error: function (rs, e) {

                        console.log(rs.response)
                    }
                });
            });
        });
    </script>

</body>
</html>