{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section>
        <div class=" container py-4">
            <div class="row  p-2">
                <div class="col-12 col-sm-5 offset-md-3 p-3 shadow">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <legend class=" border-bottom mb-5">Request Form</legend>
                            {{form|crispy}}
                        </fieldset>
                        
                        
                        <div class=" form-group pt-3">
                            <button class="btn btn-outline-danger" style="border-radius: 50px; border: 2px solid orangered;
                            font-size: 16px; font-weight: 700;">
                                Make Request Now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}